- Matrix equation
- Mixed effects for both the slopes and the intercepts.
- Support different families of common distributions. A user specifying such a distribution by name will use an appropriate link, inverse link, and likelihood.
- Support generalized link functions which are user-provided functions of the input variables, the matrix equation prediction, and a collection of parameters that get optimized during training.

----

Now take everything we've learned in order to generalize to structural equation models.
- Use the networkx package to allow users to define a directed acyclic graph on a set of variables.
- The user supplies a predictor function for each non-exogenous variable.
